body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;

  background-color: #f2f2f2;
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

a {
  text-decoration: none;
}

/*навигация*/
.main-navigation {
  height: 56px;

  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.list-navigation {
  display: flex;
  justify-content: space-around;

  width: 1200px;
  padding-left: 0px;
  padding-right: 0px;

  list-style: none;
}

.list-navigation li::not(:first-child) {
  width: 239px;
}

.list-navigation li:not(:first-child) {
  padding-top: 15px;
}

.inform {
  order: -2;
}

.foto {
  order: -1;
}

.logo {
  width: 140px;
  height: 71px;

}

.list-navigation a {
  color: #000000;
}

.list-navigation a:hover,
.list-navigation a:focus {
  color: #81b3d2;
}

.list-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

/*шапка*/
.intro {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 510px;


  background-image: url("../img/polygon.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 216px;

  text-align: center;

  background-color: #ffffff;
}

/*текст шапки*/
h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro-text p {
  line-height: 26px;
}

/*преимущества*/

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item-flex {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  color: #ffffff;

  background-color: #81b3d2;
}

.feature-flex {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 330px;
}

.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.color {
  height: 256px;

  background-color: #eeeeee;
}

/*поиск отеля*/
h2.search-title {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  text-align: center
}

p.search-title {
  line-height: 24px;
  text-align: center;
}

.search-title a {
  color: #ffffff;
  text-align: center;
}

.search-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;

  margin: 0;
  padding: 0;
}

.search-flex p:nth-child(3) {
  width: 568px;

  padding-left: 139px;
  padding-right: 139px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  background-color: #766357;
}

.search-flex a {
  color: #ffffff;
}

.search-popap {
  display: none;
  margin: auto;

  width: 568px;
  height: 395px;
  text-align: center;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.find {
  margin-top: 30px;
  width: 458px;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

/*футер*/
.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 120px;
}

.social-cells-container {
  display: flex;
  justify-content: center;

}

.contacts {
  width: 400px;
  padding-left: 172px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.social-cells {
  width: 400px;

  list-style: none;
}

.social-button {
  margin-right: 6px;
}

.copyright {
  width: 400px;
  text-align: center;
}

.contacts a,
.social-button {
  color: #000000;
}

.social-button:hover,
.social-button:focus {
  color: #81b3d2;
}

.social-button:active {
  color: #000000;
  opacity: 0.3;
}

.copyright a {
  line-height: 26px;
  color: #000000;
}

.copyright a:hover,
.copyright a:focus {
  color: #81b3d2;
}

.copyright a:active {
  color: #000000;
  opacity: 0.3;
}

/*внутренняя страница*/

.activ-page a {
  color: #766357;
}

.inner-page {
  background-image: url("../img/background-filter.jpg");
}

/*фильтры*/
.filter fieldset {
  border: none;
  color: #ffffff;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-input:hover,
.filter-input:focus {
  color: #6a6a6a;
}

.filter-input:disabled {
  color: #ffffff;

  opacity: 0.5;
}

.filter-button {
  margin-top: 15px;

  width: 133px;
  height: 32px;
  border: solid #ffffff;
  color: #ffffff;

  background-color: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.range-number input {
  width: 133px;
  height: 32px;
  border: solid #ffffff;
  color: #ffffff;

  background-color: transparent;
}

/*результаты фильтра*/
.resalts {
  background-color: #ffffff;
}
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 86px;
  padding-right: 72px;
  border: 1px solid #e5e5e5;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-left: 72px;
}

.sorting-list-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 249px;
  padding-right: 11px;
}

.sorting ul {
  margin: 0;/*убрать, оставить?*/
  padding: 0;/*убрать, оставить?*/

  list-style: none;
}

.sorting-list-type a,
.sorting-list-rating a {
  color: #000000;
  opacity: 0.3;

  border-bottom: 1px dotted #81b3d2;
}

.sorting {
  text-transform: none;
}

.sorting p:nth-child(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting p:nth-child(2) {
  font-size: 12px;
  line-height: 18px;

}

.sorting-list-type a:hover,
.sorting-list-type a:focus {
  color: #81b3d2;
  opacity: 1;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-list-type a:active {
  color: #000000;
  opacity: 1;

  border: none;
}

.sorting-activ a {
  color: #81b3d2;
  opacity: 1;

  border: none;
}

/*список отелей*/
.found-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.found-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 151px;
  padding-right: 72px;
  border: 1px solid #e5e5e5;
}

.found-item-hotel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  padding-left: 72px;
}

.discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 259px;


  margin-left: 30px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

}

.hotel {
  flex-grow: 1;
}

.discription p:nth-child(1) {
  flex-grow: 1;
  padding-left: 0;
}

.discription p:nth-child(2) {
  flex-grow: 2;
  padding-left: 41px;
}

.discription p:nth-child(3) {
  flex-grow: 1;
}

.discription p:nth-child(4) {
  flex-grow: 2;
}

.found-list h3 a {
  color: #000000;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: #000000;
  opacity: 0.3;
}

.details {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.details:hover,
.detail:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.details:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking:hover,
.booking:focus {
  color: #ffffff;
  background-color: #604e43;
}

.booking:active {
  color: #928a85;
  background-color: #503e33;
}

.rating {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #666666;
  opacity: 0.3;
}
