body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;

  background-color: #f2f2f2;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

a {
  text-decoration: none;
}

/*навигация*/
.main-header {
  position: relative;
}

.menu {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 72px;
  padding-right: 72px;
  margin: 0;

  width: 1200px;

  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;

  list-style: none;
}

.menu-item {
  padding-top: 15px;

  width: 239px;
  height: 56px;
}

.information,
.photo {
  text-align: left;
}

.map,
.hotels {
  text-align: right;
}

.left {
  margin-left: auto;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: block;

  width: 140px;
  height: 71px;
}

.menu a {
  color: #000000;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
}

.menu a:active {
  color: #000000;
  opacity: 0.3;
}

/*шапка*/
.intro {
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  margin-bottom: -3px;
  padding-top: 76px;

  height: 510px;

  background:
    url(../img/intro-mask.svg) 50% 100% no-repeat,
    url(../img/background-photo.jpg) 0% 29% no-repeat;
  background-color: #5496bd;
  background-size: auto;
}

.intro-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 62px;
  padding-bottom: 52px;

  min-width: 216px;

  text-align: center;

  background-color: #ffffff;
}

/*текст шапки*/
h2 {
  padding-left: 340px;
  padding-right: 340px;
  margin: 0px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro-text p {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px;
  margin-top: 28px;

  line-height: 26px;

  background-color: #ffffff;
}

/*преимущества*/

.feature {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
         -ms-flex-pack: justify;
       justify-content: space-between;
  margin: 0;
  padding: 0;

  width: auto;

  list-style: none;
}

.feature-item {
  position: relative;

  text-align: center;
}

.feature-item-flex {
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  width: auto;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
     -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  padding-top: 32px;
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;

  width: 400px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantage p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 0px;

}

.feature-item h3 {
  margin: 0px;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.align p {
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 26px;
  margin-bottom: 0px;
}

p.advantage-position {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.align {
  padding-top: 159px;
  padding-bottom: 85px;
  padding-left: 20px;
  padding-right: 20px;

  width: 400px;
}

.align::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: block;
  width: 75px;
  height: 76px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain
}

.feature-item-housing::before {
  background-image: url("../img/icon-home.svg");
}

.feature-item-food::before {
  background-image: url("../img/icon-food.svg");
}

.feature-item-gift::before {
  background-image: url("../img/icon-gift.svg");
}

.color {
  padding-top: 48px;
  padding-bottom: 62px;
  padding-left: 20px;
  padding-right: 20px;

  min-height: 256px;
  width: 400px;

  background-color: #eeeeee;
}

.color p {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 22px;
  margin-bottom: 0px;
}


/*поиск отеля*/
.search {
  padding: 0px;
  padding-top: 52px;
  padding-left: 315px;
  padding-right: 315px;

  background-color: #ffffff;

}

h2.search-title {
  margin-bottom: 25px;
  padding: 0px;

  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  text-align: center
}

p.search-text {
  padding-right: 50px;
  padding-left: 50px;
  margin: 0px;

  line-height: 24px;
  text-align: center;
}

.search-button {
  position: relative;
  z-index: 2;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 46px;

  width: 570px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #604e43;
}

.search-button:active {
  color: #857871;

  background-color: #503e33;
}

/*форма поиска отелей*/

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-form-wrapper {
  overflow: hidden;
  position: absolute;
  width: 570px;
  min-height: 441px;
}

.search-form {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 55px;

  width: 570px;
  min-height: 395px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;

  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  -o-transition: transform 0.9s;

  transition: transform 0.9s;

  transition: transform 0.9s, -webkit-transform 0.9s;
}

.search-form-none {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.search-form-down {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.search-form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-form input {
  font-size: 14px;
  line-height: 26;
  font-weight: 700;
  text-transform: uppercase;
}

.search-date {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
  margin: 0px;
}

.search-date label {
  padding-bottom: 25px;
}

.search-date input {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 17px;
  padding-left: 15px;

  width: 346px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;

  outline: none;
}

.search-date input:hover {
  background-color: #ebebeb
}

.search-date input:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: 0
}

.search-date .calendar {
  position: absolute;
  top: 27%;
  right: 9px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;

  font-size: 0;
  fill: #cacaca;

  background: 0 0;
  border: none;
}

.calendar:focus path,
.calendar:hover path {
  fill: #000000
}

.calendar:active path {
  fill: #81b3d2
}

.calendar:active,
.calendar:focus {
  outline: 0
}

.search-people {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
    -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0px;
}

.search-people label {
  padding-top: 9px;
}

.search-people input {
  margin: 0;
  margin-left: auto;

  width: 38px;
  height: 38px;

  text-align: center;

  background-color: #f2f2f2;
  border: none;

  outline: none;
}

.search-people .adults {
  padding-right: 41px;
}

.search-people .children {
  margin-right: 26px;
  margin-left: 48px
}

.btn {
  padding: 0px;

  width: 38px;
  height: 38px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.btn:hover,
.btn:focus {
  color: #000000;
}

.btn:active {
  color: #81b3d2;
}

.button-find {
  margin-top: 56px;
  padding: 0px;

  width: 457px;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.button-find:hover,
.button-find:focus {
  background-color: #669ec0;
}

.button-find:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/*футер*/
.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-position {
  margin-top: -126px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  width: auto;
  height: 120px;
}

.contacts a {
  color: #000000;
}

.contacts {
  width: 400px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

}

.contacts p {
  margin: 0;
  margin-bottom: 7px;
}

.contacts a {
  padding-left: 80px;
}


.social-cells {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  margin: 0 auto;
  padding: 0;

  width: 400px;

  list-style: none;
}

.social-cells li {
  margin-right: 6px;
}

.social-button li:last-child {
  margin-right: 0px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  fill: #5496bd;
  background-color: #5496bd;
  fill-opacity: 0.3;
}

.social-button:active path {
  fill-opacity: 0.3;
}

.copyright {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 400px;
}

.copyright p {
  padding-right: 10px;
}

.html-academy {
  display: block;
  width: 115px;
  height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
  fill: #81b3d2;
}

.html-academy:active path {
  opacity: 0.3;
}


/*внутренняя страница*/
.activ-page a {
  color: #766357;
}

.inner-page {
  background-image: url("../img/background-filter.jpg");
  background-position: 25%;
  background-color: #5496bd;
}

/*фильтры*/
.filter fieldset {
  padding: 0px;
  margin: 0px;

  color: #ffffff;

  border: none;
}

.filter ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 72px;
  padding-left: 72px;

  width: 100%;
  min-height: 217px;
}

.filter .filter-price {
  margin-left: auto;
}

.filter .type-of-house {
  margin-left: 127px;
}

.infra legend,
.type-of-house legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  padding-left: 45px;
}

.filter-option:not(:last-child) {
  margin-bottom: 26px;
}

.filter-option label {
  position: relative;
  margin-left: -8px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-price legend {
  margin-bottom: 7px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.range-number {
  position: relative;
  margin: 0px;

  width: 320px;
  height: 36px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-number label {
  display: inline-block;
  padding-top: 3px;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.range-number .min-price,
.range-number .max-price {
  padding-left: 70px;
}

.range-number input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-number::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-slider-track {
  position: relative;
  margin-top: 21px;

  height: 3px;

  background-color: rgba(255, 255, 255, .3);
}

.range-slider-track .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-slider-pin {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.range-slider-pin-min {
  left: 0
}

.range-slider-pin-max {
  left: 80%
}

.range-slider-pin:hover {
  background: #1c4f80;
}

.filter-button {
  display: block;
  padding: 0px;
  margin-top: 34px;
  margin-left: 87px;
  margin-right: auto;

  width: 137px;
  height: 36px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

/*результаты фильтра*/
.resalts {
  background-color: #ffffff;
}

.sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  border: 1px solid #e5e5e5;

  width: 100%;
  min-height: 88px;

  text-transform: none;
}

.sorting-list-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 11px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting .sorting-list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.sorting-list-type a {
  display: block;

  color: #000000;
  opacity: 0.3;

  border-bottom: 1px dashed #81b3d2;
}

.sorting p:nth-child(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting p:nth-child(2) {
  padding-left: 45px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

a.sorting-type {
  margin-right: 34px;
}

a.sorting-activ {
  margin-left: 39px;
  margin-right: 34px;

  color: #81b3d2;
  opacity: 1;

  border: none;
}

.sorting-list-type a:hover,
.sorting-list-type a:focus {
  color: #81b3d2;
  opacity: 1;

  border-bottom: 1px dashed #81b3d2;
}

.sorting-list-type a:active {
  color: #000000;
  opacity: 1;

  border: none;
}

.rating-button {
  display: block;

  width: 25px;
  height: 15px;
}

.rating-button path {
  fill: #cacaca;
}

.rating-button:hover path,
.rating-button:focus path {
  fill: #231f20;
}

.rating-button:active path {
  fill: #81b3d2;
}

.rating-button-current path {
  fill: #81b3d2;
}

/*список отелей*/
.found-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.found-item p {
  margin: 0;
}

h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.found-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 72px;

  width: auto;
  min-height: 151px;

  border: 1px solid #e5e5e5;
}

.found-item-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;

  width: 600px;
}

.found-item-hotel img {
  display: block;
}

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 30px;

  width: 259px;
  min-height: 100px;
}

.discription-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
}

.discription-class p:nth-child(1) {
  margin-right: 6px;

  width: 110px;
}

.discription-class p:nth-child(2) {
  width: 142px;
}

.discription-class p {
  /*padding-top: 13px;*/
}

.found-list h3 a {
  color: #000000;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: #000000;
  opacity: 0.3;
}

.details {
  display: block;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 6px;
  margin-top: 10px;

  height: 28px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.details:hover,
.detail:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.details:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.booking {
  display: block;

  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 10px;

  height: 28px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking:hover,
.booking:focus {
  color: #ffffff;
  background-color: #604e43;
}

.booking:active {
  color: #928a85;

  background-color: #503e33;
}

p.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0px;
  margin-left: auto;

  height: 17px;

  background-repeat: space;
  background-position: right;
}

p.stars-four {
  width: 89px;
  background-image: url("../img/star.svg");
}

p.stars-three {
  width: 65px;
  background-image: url("../img/star.svg");
}

p.stars-two {
  width: 42px;
  background-image: url("../img/star.svg");
}

p.rating {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-top: 40px;

  background-color: #666666;
  opacity: 0.3;
}
