body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;

  background-color: #f2f2f2;
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

a {
  text-decoration: none;
}

/*навигация*/
.navigation {
  position: relative;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-width: 56px;
  padding-left: 0px;
  margin: 0;

  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;

  list-style: none;
}

.menu li {
  display: block;

  width: 239px;
  height: 56px;
  padding-top: 15px;

  text-align: center;
}

.left {
  margin-left: auto;
}

.menu-item {
  padding-left: 25px;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

  display: block;

  width: 140px;
  height: 71px;
}

.menu a {
  color: #000000;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
}

.menu a:active {
  color: #000000;
  opacity: 0.3;
}

/*шапка*/
.intro {
  display: flex;
  justify-content: center;
  height: 510px;
  margin-bottom: -3px;
  padding-top: 103px;

  background-image: url("../img/intro-mask.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.intro-text {
  min-width: 216px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 55px;

  text-align: center;

  background-color: #ffffff;
}

/*текст шапки*/
h2 {
  padding-left: 340px;
  padding-right: 340px;
  margin: 0px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro-text p {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px;
  margin-top: 28px;

  line-height: 26px;
}

/*преимущества*/

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  text-align: center;
}

.feature-item-flex {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0px;
}

.align p {
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.align {
  width: 400px;
  padding-top: 165px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
}

.align::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 75px;
  height: 76px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain
}

.feature-item-housing::before {
  background-image: url("../img/icon-home.svg");
}

.feature-item-food::before {
  background-image: url("../img/icon-food.svg");
}

.feature-item-gift::before {
  background-image: url("../img/icon-gift.svg");
}

.color {
  min-height: 256px;
  width: 400px;
  padding-top: 51px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #eeeeee;
}

.color p {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
}


/*поиск отеля*/
h2.search-title {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  text-align: center
}

p.search-text {
  padding-right: 50px;
  padding-left: 50px;
  margin: 0px;

  line-height: 24px;
  text-align: center;
}

.search-button {
  display: block;
  width: 568px;

  padding-left: 139px;
  padding-right: 139px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 0;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.search-flex a {
  color: #ffffff;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #604e43;
}

.search-button:active {
  color: #857871;

  background-color: #503e33;
}

/*.map {
  display: block;
  margin-top: -395px;
}*/
/*.search {
  margin: auto;

  width: 568px;
  min-width: 395px;
}*/

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 316px;
  margin-right: 316px;
  padding: 55px;

  width: 568px;
  min-height: 395px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.search-form p {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.search-item label {
  display: block;
  padding-top: 6px;
}

.date input {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 20px;
  padding-left: 30px;

  width: 346px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;

  outline: none;
}

.people input {
  margin: 0;

  width: 114px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;

  outline: none;
}

/*.adults input{
  margin-left: 30px;
  margin-right: 65px;
}*/

.find {
  margin-top: 54px;
  width: 458px;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

/*футер*/
.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.margin {
  margin-top: -120px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 120px;
}


.contacts a {
  color: #000000;
}

.contacts {
  width: 400px;
  padding-left: 122px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.contacts p {
  margin: 0;
  margin-bottom: 7px;
}


.social-cells {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 400px;

  list-style: none;
}

.social-cells li {
  margin-right: 6px;
}

.social-button li:last-child {
  margin-right: 0px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;


  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
  fill: #5496bd;
}

.social-button:active path {
  fill-opacity: 0.3;
}


.copyright {
  display: inline-flex;
  align-items: center;
  padding-left: 100px;
  width: 400px;
}

.html-academy {
  display: block;
  margin: auto;
  margin-left: 10px;

  width: 115px;
  height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
  fill: #81b3d2;
}

.html-academy:active path {
  opacity: 0.3;
}

/*внутренняя страница*/

.activ-page a {
  color: #766357;
}

.inner-page {
  background-image: url("../img/background-filter-mod.jpg");
}

/*фильтры*/
.filter fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter {
  display: flex;
  align-items: center;
  padding-right: 72px;
  padding-left: 72px;
  width: 100%;
  min-height: 217px;
}

.filter .filter-price {
  margin-left: auto;
}

.filter .type-of-house {
  margin-left: 130px;
}

.infra legend,
.type-of-house legend {
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter input:disabled {
  color: #6a6a6a;
}

.filter-price legend {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}


.range-number {
  position: relative;
  margin: 0px;
}

.filter-button {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: center;
  width: 133px;
  height: 32px;

  text-transform: uppercase;
  color: #ffffff;

  border: solid #ffffff;
  background-color: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.range-number input {
  margin: 0px;
  padding: 0px;

  width: 159px;
  height: 36px;

  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  border: 2px solid #ffffff;
  background-color: transparent;
}


.range-number .range-number-min {
  border-right: none;
}

.range-number .range-number-max {
  border-left: none;
}

/*результаты фильтра*/
.resalts {
  background-color: #ffffff;
}

.sorting {
  text-transform: none;
}

.sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 86px;
  padding-left: 72px;
  padding-right: 72px;
  border: 1px solid #e5e5e5;
}

.sorting-list-type {
  display: flex;

  /* width: 249px;*/
  padding-right: 11px;
}

.sorting .sorting-list-rating {
  display: flex;
  margin-left: auto;
}

.sorting-list-type a {
  display: block;
  color: #000000;
  opacity: 0.3;

  border-bottom: 1px dashed #81b3d2;
}

.sorting p:nth-child(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting p:nth-child(2) {
  padding-left: 51px;
  font-size: 12px;
  line-height: 18px;

}

a.sorting-type {
  margin-right: 34px;
}

a.sorting-activ {
  margin-left: 39px;
  margin-right: 34px;
  color: #81b3d2;
  opacity: 1;

  border: none;
}

.sorting-list-type a:hover,
.sorting-list-type a:focus {
  color: #81b3d2;
  opacity: 1;

  border-bottom: 1px dashed #81b3d2;
}

.sorting-list-type a:active {
  color: #000000;
  opacity: 1;

  border: none;
}

.rating-button {
  display: block;

  width: 25px;
  height: 15px;
}

.rating-button path {
  fill: #cacaca;
}

.rating-button:hover path,
.rating-button:focus path {
  fill: #231f20;
}

.rating-button:active path {
  fill: #81b3d2;
}

.rating-button-current path {
  fill: #81b3d2;
}

/*список отелей*/
.found-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.found-item p {
  margin: 0;
}

h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.found-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 151px;
  padding-right: 72px;
  border: 1px solid #e5e5e5;
}

.found-item-hotel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  padding-left: 72px;
}

.found-item-hotel img {
  display: block;
}

.discription {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 259px;

  margin-left: 30px;
}

.discription-class {
  width: 100%;
  display: flex;
}

.discription-class p:nth-child(1) {
  width: 110px;
  margin-right: 6px;
}

.discription-class p:nth-child(2) {
  width: 142px;
}

.discription-class p {
  padding-top: 6px;
}

.found-list h3 a {
  color: #000000;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: #000000;
  opacity: 0.3;
}

.details {
  display: block;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 6px;
  margin-top: 8px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.details:hover,
.detail:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.details:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.booking {
  display: block;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking:hover,
.booking:focus {
  color: #ffffff;
  background-color: #604e43;
}

.booking:active {
  color: #928a85;

  background-color: #503e33;
}

p.stars {
  display: flex;
  justify-content: flex-end;
  height: 17px;
  margin-right: 0px;
  margin-left: auto;

  background-repeat: space;
  background-position: right;
}

p.stars-four {
  width: 89px;
  background-image: url("../img/star.svg");
}

p.stars-three {
  width: 65px;
  background-image: url("../img/star.svg");
}

p.stars-two {
  width: 42px;
  background-image: url("../img/star.svg");
}

p.rating {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-top: 40px;

  background-color: #666666;
  opacity: 0.3;
}
